#data-center, #data-results2 {
    padding-bottom: 50px;
    g .x.axis text {
        text-anchor: end !important;
        transform: rotate(-90deg);
        font-size: 0.8em;
        color: #fff !important; 
        @include serif-font();
    }
    .x-axis-label {
        color: #fff;
    }
    .tick {
        color: #fff !important;
    }
    
}
#data svg {
        background-color: #fff;
        box-shadow: 5px 10px 18px $primary;
    }




