#epic.epicResults {
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;

  .form-check {
    display: inline-block;
  }
  #epicResultsContainer,
  #epicMostRecentContainer {
    display: none;
  }
  a {
    color: fade-out($white, .3);
    &:hover {
      color: $white;
    }
  }
  #imageCol img,
  #epicMostRecentImage img {
    max-width: 250px;
  }
  #imageCol,
  #epicMostRecentImage {
    min-height: 250px;
  }
  #searchResultContainer {
    float: left;
  }
  #dataCol,
  #pagingRow,
  #epicMostRecentData {
    text-align: left;
  }
  @media (min-width: 992px) {
    #imageCol img,
    #epicMostRecentImage img {
      max-width: 400px;
    }
    #imageCol,
    #epicMostRecentImage {
      min-height: 400px;
    }
    #dataCol,
    #pagingRow,
    #epicMostRecentData {
      text-align: left;
    }
  }
}


@media (min-width: 420px) {
  #clear, #last, #clearResults {
    margin-top: 0 !important;
  }
}
@media (min-width: 576px) {
  #clear, #last, #clearResults {
    margin-top: 1rem !important;
  }
}
@media (min-width: 768px) {
  #clear, #last {
    margin-top: 1rem !important;
  }
  #last {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  #clear, #clearResults {
    margin-top: 0 !important;
  }
}

.epic-click {
  cursor: pointer;
}
