// Styling for the library section
#searchLibraryResultsContainer {
    display: none;
    #result_ex {
        font-size: 0.8rem;
    }
}

#library.librarySection .form-check {
    display: inline-block;
}

#libraryResults {
    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    div.row {
        margin-top: 10px;
        padding-top: 10px;
    }
    div {
        padding-top: 10px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    img {
        width: 80px;
        max-width: 80px;
    }
    .p-trigger {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding-left: 0px;
        color: $gray-900;
    }
    button {
        font-weight: bold;
    }
    @media (min-width: 576px) {
        div{
            width:100%;
        }
    }
}

.evenColour {
    background-color: $gray-100;
}

.oddColour {
    background-color: $gray-200;
}
