// Styling for the library section

#searchLibraryResultsContainer {
    display: none;
}
#library.librarySection .form-check {
    display: inline-block;
}
#libraryResults {
    p {
        font-size: 0.8rem;
    }
    div {
        margin-top:20px;
    }
    img {
        max-width: 80px;
    }
}
    .evenColour {
        background-color: $gray-200;
    }
    .oddColour{
        background-color: $gray-100;
    }


