// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$brightlink: #eee;
$darkgray: #999;
$midgray: #666;
$lightgray: #333;
$fadedbkg-03: rgba(0, 18, 52, 0.3);
$fadedbkg-08: rgba(0, 18, 52, 0.8);
$error-red: #cc3333;
$primary: #050215 !default; //rgba 5,2,21
$nasa-blue: #0B3D91;
$nasa-blue-rgb: rgba(11, 61, 145, 1.0);
$nasa-red: #FC3D21;
$nasa-red-rgb: rgba(252, 61, 33, 1.0);
