#dataCol {
    background-color: yellow;
}

#imageCol {
    background-color: blue;
}

#imageID {
    max-width: 100px;
}

#searchResultContainer {
    float:left;
    background-color: yellow;
}

#thumbnailContainer {
    
    background-color: cyan;
}